// メディアクエリ
$pc: 'only screen and (min-width:769px) ';
$sp: 'only screen and (max-width:769px) ';

// 使用するカラー
$text-main: #171717;
$accent-color: #e50;
$confirm-color: #17cc95;
$reject-color: #ff5a5a;
$off-white: #f9f7f3;
$white: #fff;
$text-gray: #7a7a7a;
$text-blue-gray: #A2ABB3;
$bg-gray: #d9d9d9;
$pink: #ebc3e1;
$dark-blue: #406ea6;
$dark-green: #94cac4;
$yellow: #E3C800;
$green: #83dfbe;
$purple: #d2b9dd;
$dark-purple: #95a5c7;
$floral-white: #fffaf0;
$salmon-pink: #f99;
$red: #dc143c;
$cream: #fffdd0;
$brand-line: #00B900;
$link-color: blue;
$heart-pink:#F9197F;
$brown:#B97E54;

// フォントサイズ
$font-size-small: 10px;
$font-size-middle: 14px;
$font-size-large: 18px;